@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <h1 class="display-4 fw-bold">Welcome to Electronique Emporium</h1>
                <p class="lead">Your one-stop shop for all your electronic needs!</p>
                <p>Explore our wide range of products and discover the latest in technology.</p>
                <a class="btn btn-primary btn-lg" asp-controller="shop">Browse Products</a>
            </div>
        </div>
    </div>
</div>
