@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Product_Management_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Product_Management_System.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js" defer></script>

</head>
<body>
    @{
        var session = HttpContextAccessor.HttpContext.Session;
        var userJson = session.GetString("User");
        var user = new User();
        if(userJson != null){
            user = JsonConvert.DeserializeObject<User>(userJson);
        }
    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo1-removebg-preview.png" style="cursor:pointer; height: 40px;width: auto;background-position: center;background-size: cover;" /></a>
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Electronique Emporium</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (user.User_Type == null)
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="privacy">Privacy</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <a class="me-2" asp-action="signin" asp-controller="user"><img class="btnlogin" src="~/images/login.png" /></a>
                        </form>
                    </div>
                }
                @if (user.User_Type == 1 && user.User_Type != null)
                {
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mr-auto flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Product">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Admin">Customers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Orders">Orders</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <a class="me-2" asp-action="SignOut" asp-controller="user"><img class="btnlogout" src="~/images/logout.png" /></a>
                        </form>
                    </div>
                }
                @if (user.User_Type == 0 && user.User_Type != null)
                {
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Shop">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Cart">Cart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Cart/UserOrder">Orders</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <a class="me-2" asp-action="SignOut" asp-controller="user"><img class="btnlogout" src="~/images/logout.png" /></a>
                        </form>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center fixed-bottom">
        <div class="container mt-3">
            &copy; @DateTime.Now.Year.ToString() - Electronique Emporium - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
