.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.card-title {
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-check-inline {
    margin-right: 15px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}


.editImage {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}


    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }

.image-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.image-container {
    position: relative;
    width: calc(20% - 10px); 
    box-sizing: border-box; 
}

.editImage {
    max-width: 100%;
    height: auto;
    display: block;
}

.image-container {
    position: relative;
    width: calc(20% - 10px);
    box-sizing: border-box;
    display: inline-block;
}

.close-button {
    position: absolute;
    top: -15px;
    right: -5px;
    background: none;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
}

.add-product-btn {
    float: right;
    border: 1px solid #307c8f;
    padding: 5px 11px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
}

    .add-product-btn a, .add-product-btn a:hover {
        text-decoration: none !important;
    }

    .add-product-btn:hover {
        border: 1px solid #307c8f;
        background-color: #307c8f;
    }

        .add-product-btn:hover a {
            color: #fff;
        }

.fa {
    font-size: 16px;
}

.fa-edit{
    color:green !important;
}

.fa-view{
    color:black !important;
}

.fa-trash{
    color:red !important;
}