@model Product_Management_System.Models.Admin.Product

@{
    ViewData["Title"] = "AddProduct";
}
<link href="~/css/product.css" rel="stylesheet" />
@if (!string.IsNullOrEmpty(ViewBag.error_message))
{
    <script>
        $(document).ready(function () {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: '@ViewBag.error_message'
            });
        });
    </script>
}

@if (!string.IsNullOrEmpty(ViewBag.success_message))
{
    <script>
        $(document).ready(function () {
            Swal.fire({
                icon: 'success',
                title: 'Success',
                text: '@ViewBag.success_message'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/Product/Index"
                }
            });
        });
    </script>
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center addCardTitle">Add Product</h5>
                    <hr>
                    @using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <form asp-action="AddProduct">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">Product Name</label>
                                <input asp-for="Product_Name" class="form-control" placeholder="Enter Product Name" />
                                <span asp-validation-for="Product_Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Product Description</label>
                                <input asp-for="Product_Description" class="form-control" placeholder="Enter Product Description" />
                                <span asp-validation-for="Product_Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Product Price</label>
                                <input asp-for="Product_Price" class="form-control" placeholder="Enter Product Price" />
                                <span asp-validation-for="Product_Price" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label class="control-label">Product Cover Image</label>
                                    <input asp-for="Cover_Image" class="form-control" type="file" accept="image/*" />
                                    <span asp-validation-for="Cover_Image" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6">
                                    <label class="control-label">Product Images</label>
                                    <input asp-for="Images" class="form-control" />
                                    <span asp-validation-for="Images" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Product Quantity</label>
                                <input asp-for="Product_Quantity" class="form-control" value="0" placeholder="Enter Product Quantity" />
                                <span asp-validation-for="Product_Quantity" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Product Status</label>
                                <select asp-for="Product_Status" class="form-control">
                                    <option value="0">Active</option>
                                    <option value="1">InActive</option>
                                </select>
                                @* <input asp-for="Product_Status" class="form-control" value="0" placeholder="Enter Product Status" /> *@
                                <span asp-validation-for="Product_Status" class="text-danger"></span>
                            </div>
                            <div class="text-center text-lg-start mt-4 pt-2 d-flex flex-column">
                                <div class="d-flex justify-content-center">
                                    <input type="submit" value="Add" class="btn btn-primary btnAddProduct" />
                                    <a class="mx-2 btn btn-secondary btnBackProduct" asp-action="Index" asp-controller="Product">Back to List</a>

                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
